

.server-sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background-color: #202225;
    width: 75px;
    height:100vh;
    

}

.server-sidebar-round-img{

    width:50px;
    height:50px;
    border-radius: 50%;
    margin-bottom: 5px;

}

.server-sidebar-round-img:hover{
    border-radius: 25%;
    transform: scale(1.1);
    transition: 1s;
}
.server-sidebar-logo {
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
}
.server-sidebar-logo img{
    padding: 15px;
    width:50px;
    height:50px;
}

.server-sidebar-logo img:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: .5s;
}

.joined-server-arr{
    background-color: red;
}

.user-joined-server-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}
