.server-profile-page-container{
    display: flex;
    gap:10px;
    width: 500px;
    height: 500px;

}
.server-profile-page-sidebar{
    background-color: #202225;
    width: 500px;
    height: 500px;
}

.delete-server-container{
    margin: 15% 0 5% 5%;
    text-align: center;
    color:white
    
}

.edit-server-container{
    margin: 5% 0 0 10%;
    color:white    
}
.edit-server-container h1{
    margin: 20px 0 10px 0;
}
.edit-server-container p{
    margin: 15px 0 10px 0;
}
.edit-server-container input{
    outline: 0;
    background: #202225;
    width: 350px;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
    color: #c1c4d7
}

.edit-server-sidebar{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    background-color:#2F3136 ;
    height:100vh;
    width: 30%;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 10px;
    padding-top: 100px;
}

.edit-server-container select{
    outline: 0;
    background: #202225;
    width: 350px;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
    color:#c1c4d7;
}


.edit-server-container button{
    margin: 0 0 5% 25%
}