
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body{
    background-color: #36393f;
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.signup-container .error-msg{
    font-size: 20px
}

img{
    cursor: pointer;
}
button{
    cursor: pointer;
}


.btn{
    outline: 0;
    background: #484CEC;
    width: 150px;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
    color:white;
    font-weight: bold;
}

/* ::-webkit-scrollbar {
    width: 5px;
    background-color: #2e3338;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
  } */