#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 10px;
    width: 850px;
    height: 800px;
    z-index: 10;
  }


  /* #msg-modal {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #msg-modal-background {
    position:;
    background-color: rgb(255, 255, 255);
  } */
  
  #msg-modal-content {
    position: fixed;
    top:0;
    background-color:#36393F;
    border-radius: 10px;
    width: 100vw;
    height: 100vh;
    z-index: 9;
  }

  #Small-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #Small-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #Small-modal-content {
    position: absolute;
    background-color:white;
    color:black;
    border-radius: 10px;
    width: 400px;
    height: 400px;
  }


  #picmodal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

  }
  
  #picmodal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #picmodal-content {
    position: absolute;
    background-color:#292B2F;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    z-index: 10;
    color:white
  }
