.quit-server-btn{
    outline: 0;
    background: #484CEC;
    width: 70px;
    height: 25px;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
    color:white;
    font-weight: bold;
}