.message-box-layout{
    background-color: #36393f;
    color:white;
    width: 70vw;
}

.msg-user-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.msg-channel-name-container{
    position: sticky;
    width: 70vw;
    height: 30px;
    padding-left: 15px;
    padding-top: 20px;
    border-bottom: .3px solid black;
}

.all-msg-container{
    padding-top:15px;
    padding-left:2%;
    display: flex;
    flex-direction: column;
    gap:15px
}
.msg-div{
    display: flex;
    flex-direction: row; 
    gap:10px   
}

.create-msg-container{
    position: absolute;
    bottom: 0;
    height:75px;
    width:70vw;
    background-color: #57585e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-msg-container input{
    height:45px;
    width: 50vw;
    background-color:#36393f93;
    border: none;
    border-radius: 15px;
    margin-right: 25px;

}