.message-box-layout{
    background-color: #36393f;
    color:white;
    width: 70vw;
    margin-left: 325px;
}

.msg-user-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.msg-channel-name-container{
    position: fixed;
    background-color: #36393f;
    width: 80vw;
    height: 30px;
    padding-left: 15px;
    padding-top: 20px;
    border-bottom: .3px solid black;

}

.all-msg-container{
    padding-top:70px;
    padding-left:2%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap:15px;
    overflow-y: scroll;
    height: 100%;
}
.msg-div{
    display: flex;
    flex-direction: row; 
    gap:10px;
}

.msg-div:hover{
    background-color:#32353E
}
.create-msg-container{
    position: fixed;
    bottom: 0;
    height:75px;
    width:100vw;
    background-color: #57585e;
    display: flex;
    flex-direction: column;
}
.create-msg-container input{
    height:40px;
    width: 700px;
    background-color:#36393f93;
    border: none;
    border-radius: 15px;
    margin-right: 25px;
    margin-left: 15%;
    
}
.input-div{
    display: flex;
    position: absolute;
    top:30%;
}
.send-msg-btn{
    outline: 0;
    background: #484CEC;
    width: 75px;
    height: 40px;
    border: 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
    color:white;
    font-weight: bold;
}


.edit-message-modal{
    text-align: center;
    
}
.edit-message-modal h2{
    margin: 30px 0 20px 0;
}


.edit-message-modal textarea{
    outline: 0;
    background: #d1d3d4;
    width: 250px;
    height: 120px;
    border: 0;
    margin: 0 0 20px 10px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
    color:black
}


.delete-message-container{
    text-align: center;
    
}
.delete-message-container h2{
    margin: 50px 0 30px 0;
}
