.nav-bar-container{
    background-color:#484CEC ; 
    padding: 15px;
   
}

.nav-bar-div{
    display: flex;
    justify-content: space-around;
}

.nav-mid-part{
    display: flex;
    justify-content: space-between;
    gap:  25px;
    color:white;
    font-weight:900;
    padding-top: 15px;
}


.nav-mid-part a{
    color:white;
    text-decoration: none;
}

.nav-logout-btn button{
    background-color:white;
    color:black;
    display:block;
    width:85px;
    height:35px;
    border:none;
    border-radius: 50px;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;

}


.nav-demo-btn{
    background-color:white;
    color:black;
    display:block;
    width:85px;
    height:35px;
    border:none;
    border-radius: 50px;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}