.create-join-server-btn{
    height:51px;
    width:51px;
    border-radius: 50%;
    background: #2f3136;
    color:green;
    font-size: 30px;
    border:1px solid #2f3136;
    margin-top:10px;

}


.create-join-server-btn:hover{
    background-color: rgb(84, 184, 84);
    color:white;
    border-radius: 25%;
    font-size: 35px;
    transition: .3s;
}