.login-container{
    height:95vh;
    width:100%;
}
.login-form-container{
    position: relative;
    top:27%;
    width: 600px;
    height:350px;
    z-index: 1;
    background: #2f3136;
    margin: 0 auto 100px;
    padding: 35px 45px 120px 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    color:rgb(167, 167, 167);
    font-weight: bold;
    font-size: small;
    border-radius: 4px;
}
.login-form-container h1{
    color:white
}
.login-form-container p{
    font-weight: normal;
    color:rgb(141, 140, 140)
}

.login-input{
    outline: 0;
    background: #202225;
    width: 300px;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
    color:white

}

.login-inner-div{
    display: flex;
    justify-content: space-between;
    gap:15px
}
.login-form-img img{
    padding-top: 55px;
    height: 200px;
    width:200px;

}

.login-form-img h2{
    color:white;
    text-align: center; 
    padding-top: 10px;
}

.login-btn{
    outline: 0;
    background: #484CEC;
    width: 300px;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
    color:white;
    font-weight: bold;

}
.login-btn:hover{
    background: #3e40ce;

}

.login-to-signup a{
    text-decoration:none;
    color:#0788e4;
    font-size: 16px
}

.login-to-signup a:hover{
    text-decoration:underline
}

.login-demo-btn button{ 
    outline: 0;
    background: #484CEC;
    width: 300px;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
    color:white;
}


.login-demo-btn button:hover{
    background: #3e40ce;

}